<html>
  <body>
    <h1> 
      Welcome to Treasure Hunt, it's at the server! 
    </h1> 
    <h3> <%=@time%> </h3>
    <br><br>
    <div>
        <form action = "/play_game">
        <input type="submit" value="Start Game">
    </div>
  </body>
</html>
